



                     <div class="col-12 col-md-6 col-xl-3">
                           <div class="team-m__single fade-top">
                              <div class="thumb">
                                 <a href="{{ 'proje/post'|page({ slug: post.slug, id: post.id }) }}">
                                    <img src="{{ post.banner.path }}" alt="Image">
                                 </a>
                                 <div class="thumb__content" data-background="assets/images/teams/bg.png">
                                    <div class="info">
                                       <p></p>
                                    </div>
                                    <h4>
                                       <a href="{{ 'proje/post'|page({ slug: post.slug, id: post.id }) }}" style="text-decoration: none;">{{ post.title}}</a>
                                    </h4>
                                    <p></p>
                                    <div class="social-alt">
                                       <a href="#"
                                          aria-label="share us on facebook">
                                  
                                       </a>
                                       <a href="#" 
                                          aria-label="share us on twitter">
                                         
                                       </a>
                                       <a href="#" 
                                          aria-label="share us on pinterest">
                                          
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>